 
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');
*{
    margin: 0;
    padding: 0  ;
}
body {
    background-color:#1E1E1E ;
    background-image: url(../img/bg-mobile.png);
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    color: white;
    text-transform: uppercase;
}
h2 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.0rem;
    margin: 42px auto 0;
    
}

.btn{ 
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px auto;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 5px 0;
}
.content-text {
    margin: 55px auto 0;
    padding: 0 10px;
}
.telegram {
    display: flex;
    justify-content: center;
    margin: 40px auto;
}
.cover {
    display: flex;
    justify-content: center;
}
.section-half {
    color: white;
    text-transform: uppercase;
    text-align: center;
    height: 200px;
    margin: 0;
    padding: 0;
}
.section-half{
    background-image: url(../img/half-section.png);
}
.section-half h3 {
    font-size: 2rem;
}
h4 {
    color: white;
    text-align: center;
    font-size: 25px; 
    margin: 30px auto;
}
   
  .neon-button { 
    cursor: pointer;
    text-decoration: none;
    color: hsl(0deg 0% 100%);
    border: hsl(201.55deg 100% 54.91%) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 hsl(201.55deg 100% 54.91%), 0 0 0.5em 0 hsl(201.55deg 100% 54.91%);
    position: relative;
    background: hsl(201.55deg 100% 54.91%) 0.125em;
    display: flex;

  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  footer {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: .9rem;
}

.display {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: lighter;
    padding: 10px;
}
.display h5 {
    font-weight: 400;
    font-size: 2.3rem;
    text-align: left;
}
.swiper img {
    width: 100%;
}
.swiper {
    width: 90%;
}